html {

    scroll-behavior: smooth;

}

section {

    animation: fadeUp 1s ease;

}


@keyframes fadeUp {

    from {

        opacity:0;

        transform:translateY(30px);

    }


    to {

        opacity:1;

        transform:translateY(0);

    }

}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}


/* Header */
header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}


header h1 {
    font-size: 60px;
    margin-bottom: 15px;
    color: white;
}


header p {
    font-size: 22px;
    color: #94a3b8;
}


/* Section */
section {
    max-width: 900px;
    margin: auto;
    padding: 60px 30px;
}


section h2 {
    font-size: 35px;
    margin-bottom: 20px;
    color: #38bdf8;
}


/* Skills */
ul {
    list-style: none;
}


li {
    background: #1e293b;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
}


/* Footer */
footer {
    text-align: center;
    padding: 30px;
    color: #64748b;
}


/* Responsive */
@media(max-width:768px){

    header h1 {
        font-size:40px;
    }

    header p {
        font-size:18px;
    }

}

.hero h1 {

    font-size: 70px;
    margin-bottom: 20px;

}


.hero h2 {

    color: #38bdf8;
    font-size: 35px;
    margin-bottom: 20px;

}


.hero p {

    max-width: 600px;
    font-size: 20px;

}


.hero h1 span {

    display:inline-block;

}


.buttons {

    margin-top: 40px;

}


.buttons a {

    display: inline-block;

    text-decoration: none;

    background: #38bdf8;

    color: #0f172a;

    padding: 14px 30px;

    margin: 10px;

    border-radius: 30px;

    font-weight: bold;

    transition: 0.3s;

}


.buttons a:hover {

    transform: translateY(-5px);

    opacity: 0.8;

}

nav {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 30px 80px;

}


nav h2 {

    color: white;

}


nav ul {

    display: flex;
    gap: 30px;

    list-style: none;

}


nav a {

    text-decoration: none;

    color: white;

    font-weight: bold;

    padding:10px 0;

}


nav a:hover {

    color: #38bdf8;

}

#about {

    padding: 100px 20px;

    display: flex;

    justify-content: center;

}


.about-card {

    max-width: 700px;

    background: #1e293b;

    padding: 40px;

    border-radius: 20px;

    text-align: center;

}


.about-card h2 {

    color: #38bdf8;

    font-size: 40px;

    margin-bottom: 20px;

}


.about-card p {

    color: #cbd5e1;

    font-size: 18px;

    line-height: 1.8;

}


#skills {

    padding: 100px 80px;

}


#skills h2 {

    color: #38bdf8;

    font-size: 45px;

    margin-bottom: 40px;

}


.skills-container {

    display: flex;

    flex-wrap: wrap;

    gap: 20px;

}


.skills-container span {

    background: #1e293b;

    color: white;

    padding: 15px 30px;

    border-radius: 30px;

    font-weight: bold;

    transition: 0.3s;

}


.skills-container span:hover {

    background: #38bdf8;

    color: #0f172a;

    transform: translateY(-5px);

}

#projects {

    padding: 70px 80px;

}


#projects h2 {

    color: #38bdf8;

    font-size: 45px;

    margin-bottom: 40px;

}


.project-container {

    display: flex;

    gap: 30px;

}


.project-card {

    background: #1e293b;

    max-width: 350px;

    padding: 30px;

    border-radius: 20px;

}


.project-card h3 {

    font-size: 25px;

    margin-bottom: 15px;

}


.project-card p {

    color: #cbd5e1;

    line-height: 1.7;

}


.tech {

    margin: 20px 0;

}


.tech span {

    background: #38bdf8;

    color: #0f172a;

    padding: 8px 15px;

    border-radius: 20px;

    margin-right: 10px;

    font-weight: bold;

}


.project-buttons a {

    display: inline-block;

    margin-right: 10px;

    margin-top: 15px;

    padding: 10px 20px;

    background: #0f172a;

    color: white;

    text-decoration: none;

    border-radius: 20px;

}

.project-card {

    transition: 0.3s;

}


.project-card:hover {

    transform: translateY(-10px);

}

#contact {

    padding:70px 80px;

    text-align:center;

}


#contact h2 {

    color:#38bdf8;

    font-size:45px;

}


#contact p {

    color:#cbd5e1;

    font-size:20px;

    margin:20px;

}


.contact-links a {

    display:inline-block;

    margin:15px;

    padding:15px 30px;

    background:#1e293b;

    color:white;

    text-decoration:none;

    border-radius:30px;

}


.contact-links a:hover {

    background:#38bdf8;

    color:#0f172a;

}

.hero {

    animation: fadeIn 1s ease;

}


@media(max-width:768px){


    nav {

        flex-direction: column;

        gap:20px;

        padding:20px;

    }


    nav ul {

        flex-wrap: wrap;

        justify-content:center;

        gap:15px;

    }


    nav h2 {

        font-size:24px;

    }


    nav a {

        font-size:16px;

    }


    nav ul li a {

        padding:8px 15px;

    }


    .hero {

        padding:0 20px;
        transform: translateY(-50px);

    }


    .hero h1 {

        font-size:36px;

    }


    .hero h2 {

        font-size:22px;

    }


    .hero p {

        font-size:16px;

        padding:0 20px;

    }


    .buttons a {

        padding:12px 25px;

    }


    #skills {

        padding:60px 30px;

    }


    #projects {

        padding:60px 30px;

    }


    .project-container {

        flex-direction:column;

    }


    .project-card {

        max-width:100%;

    }


    #contact {

        padding:60px 30px;

    }

}